torch==2.11.0+cu128
torchvision==0.26.0+cu128
transformers==5.12.0
easyocr==1.7.2
split-folders==0.6.1
scikit-learn==1.6.1
pandas==2.2.2
numpy==2.0.2
matplotlib==3.10.0
Pillow==11.3.0
seaborn==0.13.2
